@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700|Roboto+Mono:100,300,700);

$b22-black: #2b2b2b;
$b22-white: #FAFAFA;
$b22-green: #3AAF72;

::selection {
  background: $b22-green; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $b22-green; /* Gecko Browsers */
}

a { color: $b22-black; }
a:hover { text-decoration: none; color: $b22-green; }

.mobile-only { display: none !important; }

@mixin ir() { font-size: 0; text-indent: -999999px; display: block; }

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($val) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  -ms-transition: $val;
  transition: $val;
}



/* regole generali =========================================*/


/* Sticky footer styles
--------------------------------------------------
html {
  position: relative;
  min-height: 100%;
}
body {
  // Margin bottom by footer height
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // Set the fixed height of the footer here
  height: 60px;
  background-color: #f5f5f5;
}

*/


/* fonts */

/* Neutralize styling:
   Elements we want to clean out entirely: */

html, body, form {margin: 0; padding: 0;}
html {
  font-size:100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: $b22-black;
  background-color: $b22-white;
  height: 100%;
}
a {
  color: $b22-black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $b22-green;
  text-decoration: none;
}

a:focus {
  color: $b22-green;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img { border: 0; }
label { cursor: auto; }
h1, h2, h3, h4 { font-weight: normal; }
ul { list-style-type: none; margin: 0; padding: 0; }

/* Miscellaneous conveniences: */
fieldset { border: none;padding:0; margin:0}
input, select, textarea { font: 18px/1.3; color: $b22-green;  }
.clear {clear:both;}
br.clear {clear:both; line-height:0; height:0}
.left {float:left}
.right {float:right}
.center {text-align:center}

.alignleft { float: left; }
.alignright { float: right; }

img.responsive { width: 100%; height: auto; }


/* bootstrap reset */

.navbar { border-radius: 0; background: none; border: none; background: $b22-white; margin-bottom: 0; min-height: 20px;
  #menu-top-menu { float: right; }
}
.navbar-inverse .navbar-nav>li>a { color: $b22-white; text-shadow: none; padding: 5px 0; margin: 0 10px; font-size: 15px;
  &:hover { border-bottom: 2px solid $b22-white; padding-bottom: 0; margin-bottom: 2px; }
}

#navbar {
  ul {display: inline-flex; float: right; }
  li {padding-left: 40px; float: right;
    a {text-decoration: none; }
  }
}

.language {
  float: right;
}

#tax_cloud {margin: 10% 0 20% 0;
  p { color: $b22-black;
      strong{ color: $b22-black; font-weight: 700; font-size: 16px; text-transform: uppercase; letter-spacing: 1px; padding-right: 5px;}
      a { color: $b22-black; font-size: 30px;
        &:hover { color: red; }
        &.related { color: $b22-green ;
        }
        span.tax_term_count {
          font-size: 16px;
          vertical-align: super;
          padding-right: 5px;
          padding-left: 2px;
        }
      }
  }
}

.margin_10 {
  margin-bottom: 10% !important;
}

#profile_description {
  display: inline-block;
  margin-bottom: 80px;
  font-weight: 400;
  padding-top: 10%;
}

#home-posts {
  article {
    h1 { font-size: 20px; margin-bottom: 40px;}
    h2 { font-size: 20px; }
  }
}

.single_page{
  .column{padding-bottom:60px;}
  .post_attached_images{li{ list-style: none; padding-bottom:60px;}
    }
  h2 {font-size: 54px; }
  .single-title{margin:50px 0px; }
}

footer {
  background: $b22-white;
  margin: 20% 0 50px 0;
    p { color: $b22-black; }
    nav{
      ul{ display: inline-flex;
        li{ padding-right:50px;
          a{ color: $b22-black; text-decoration: none; }
        }
      }
    }
}

#navbar_content{
  height:auto;
  width: 100%
}


#cover{
  body {
    background: url("") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: $b22-black !important;
    color: $b22-white;
  }
  #navbar {
    color: $b22-white;
  }
  .cover_nav {
    position: fixed;
  }
  .cover_nav a {
    display:block
  }
}

.header {
  height: 82%;
  width: 100%;
  display: block;
  margin-top: -105px;
}

.page-header-single a{
  color: white;
}

.single-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    min-height: 300px;
}

#first #second #third #fourth #fifth #sixth {
}

.menu-single {
  padding: 8px 0px;
}

/* Cover Page specific styling */

body.page-id-94, body.page-id-104 {
 background: $b22-black;
 color: $b22-white;
}

a.page-id-94, a.page-id-104 {
 color: #fafafa;
}

a .menu .page-id-94, a .menu .page-id-104 {
 color: #fafafa;
}

.page-id-94, .page-id-104 {
  #navbar li a {color: white !important; cursor: pointer;}
}

.page-id-94, .page-id-104 {
  #navbar li a:hover {color: #4a4a4a !important;}
}

.page-id-94, .page-id-104 {
  .language {vertical-align: bottom;}
}

.intro {
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 1.35;
  max-width: 800px;
  font-weight: 100;
  padding-top: 15%;
  padding-bottom: 60px;
  vertical-align: bottom;
  margin-bottom: 40px;
}

.intro a{ font-weight: 700 ; color: $b22-white !important; cursor: pointer;}

.intro a:hover{ color: $b22-white !important;}

/* Cover News Items */

.page-id-94 .news-item h3, .page-id-104 .news-item h3 {
  display: none !important; /* hide News title */
}
.page-id-94 .news_post a, .page-id-104 .news_post a  {
  color: #fafafa !important;
}
.page-id-94 .news_post a:hover, .page-id-104 .news_post a:hover  {
  color: #ccc !important;
}

/* Language Selector styling */

#lang_sel_list ul a.lang_sel_other, #lang_sel li ul a:link, #lang_sel_list ul a.lang_sel_other:visited {background-color: transparent !important;}

#lang_sel_list a.lang_sel_sel, #lang_sel_list a.lang_sel_sel:visited {background-color: transparent !important;}

#lang_sel_list ul {border-top: none !important;}

/* News Post styling */

.news_content {
  margin-top: 10%;
}
.news_post {
  margin-bottom: 40px;
}

/* Language Selector styling */

#lang_sel_list ul a.lang_sel_other, #lang_sel li ul a:link, #lang_sel_list ul a.lang_sel_other:visited {background-color: transparent !important;}

#lang_sel_list a.lang_sel_sel, #lang_sel_list a.lang_sel_sel:visited {background-color: transparent !important;}

#lang_sel_list ul {border-top: none !important;}

/* Background Covers */

#back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
  background-color: $b22-black;
}

/* Media Queries */

@media (max-width: 767px) {
  .mobile-only { display: block !important; }
  #tax_cloud { display: none !important; }
}
@media (min-width: 768px) {
  #home-posts {
    width: 70%;
    margin: 0 15%;
  }
}

/* END */



@media (max-width: 991px) {

}


@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

  .mobile-only { display: block !important; }
  .intro { font-size: 30px; }
}

@media (min-width: 768px){
  #home-posts { width: 70%; margin: 0 15%; }
}

@media (max-width: 480px) {
  .intro { font-size: 24px; padding-top: 40px; }
}

@-ms-viewport{
  width: device-width;
}